<div class="box box-primary">
  <div class="box-body box-profile">
    <%= user_avatar @user %>

    <h3 class="profile-username text-center">
      <%= @user.name %>
    </h3>

    <p class="text-muted text-center">
      <%= link_to @user.email, @user %>
    </p>

    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <b><%= t "users.headers.follower" %></b>
        <a class="followers pull-right"><%= @user.followers.count %></a>
      </li>
      <li class="list-group-item">
        <b><%= t "users.headers.following" %></b>
        <a class="pull-right"><%= @user.following.count %></a>
      </li>
    </ul>

    <% if user_signed_in? && !current_user.current_user?(@user) %>
      <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render "unfollow" %>
        <% else %>
          <%= render "follow" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- <div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">About Me</h3>
  </div>
  <div class="box-body">
    <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

    <p class="text-muted">
      B.S. in Computer Science from the University of Tennessee at Knoxville
    </p>

    <hr>

    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

    <p class="text-muted">Malibu, California</p>

    <hr>

    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

    <p>
      <span class="label label-danger">UI Design</span>
      <span class="label label-success">Coding</span>
      <span class="label label-info">Javascript</span>
      <span class="label label-warning">PHP</span>
      <span class="label label-primary">Node.js</span>
    </p>

    <hr>

    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
  </div>
</div> -->
