<% provide :title, t("user.request.all") %>
<h1><%= t "user.request.all" %></h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th class="center"><%= t "user.request.book_name" %></th>
          <th class="center"><%= t "user.request.author" %></th>
          <th class="center"><%= t "user.request.user" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
          <tr>
            <td><%= request.book_name %></td>
            <td><%= request.book_author %></td>
            <td><%= request.user.name %></td>
            <td class="center">
              <% if request.pending? %>
                <%= form_for [:admins, request], html: {multipart: true} do |f| %>
                  <%= f.button t("user.request.approve"), type: :submit, name: :status,
                    value: :approve, class: "btn btn-size btn-success" %>
                  <%= f.button t("user.request.reject"), type: :submit, name: :status,
                    value: :reject, class: "btn btn-size btn-danger" %>
                <% end %>
              <% elsif request.approve? %>
                <h4><span class="label label-success">
                  <%= t "user.request.approve" %>
                </span></h4>
                <%= link_to t("user.request.add_new_book"),
                  new_admins_book_path(request_id: request.id) %>
              <% else %>
                <h4><span class="label label-danger">
                  <%= t "user.request.reject" %>
                </span></h4>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
