<% provide :title, t("home") %>
<div class="home-page">
  <% if user_signed_in? %>
    <div class="col-sm-3 td-left-nav">
      <div class="td-right-nav-title">
        <h4>
          <%= image_tag "book.svg" %>
          What are you reading?
        </h4>
      </div>
      <hr>
      <div class="td-right-nav-content">
        <h3>
          2017 MOST POPULAR
        </h3>
        <p>The most anticipated book!</p>
        <div class="col-sm-5">
          <div class="row td-img-book-popular">
            <% if @book_challenge.first.image %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag @book_challenge.first.image, class: "img-responsive" %>
              <% end %>
            <% else %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag "book.jpg", class: "img-responsive" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="book-rating">
            <% rating = round_rating @book_challenge.first.ratings
              .plus.average(:rating) %>
            <% 1.upto 5 do |index| %>
              <%
                star =
                  if index <= rating
                    "fa-star"
                  elsif index - 0.5 == rating
                    "fa-star-half-o"
                  else
                    "fa-star-o"
                  end
              %>

              <i class="fa <%= star %> rate"></i>
            <% end %>
          </div>
          <div class="book-status">
            <%= render "user_books/change_statuses" %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <hr>
      <div class="td-right-nav-footer">
        <h3>Want to read?</h3>
        <%= link_to "View all book", books_path %>
        <div class="td-view-all-book"></div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 padding-50">
      <% @reviews.each do |review| %>
        <div class="review review-<%= review.id %> clearfix">
          <div class="col-sm-12 td-user-review-title">
            <div class="inline-block td-home-user-review">
              <%= user_avatar review.user %>
            </div>
            <div class="inline-block user-info-review">
              <div class="user inline-block">
                <%= link_to review.user.name, user_path(review.user) %>
                <%= t "books.rated_it" %>
              </div>
              <div class="time-create-review inline-block float-right">
                <%= time_ago_in_words review.created_at %>
              </div>
            </div>
          </div>
          <div class="col-sm-12 td-user-review-content">
            <div class="col-md-12">
              <div class="content-review-less">
                <%= truncate review.content, length: 200 %>
                <%= link_to t("books.more"), "#", class: "show-more", remote: true %>
              </div>

              <div class="content-review-full hidden">
                <%= review.content %>
                <%= link_to t("books.less"), "#", class: "show-less", remote: true %>
              </div>
            </div>

            <div class="col-md-12 like">
              <span class="review-like">
                <% if current_user.like review %>
                  <%= render "likes/dislikes", like: current_user.like(review),
                    target: review %>
                <% else %>
                  <%= render "likes/likes", target: review %>
                <% end %>
              </span>
              <%= link_to t("reviews.actions.see"), book_path(review.book) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3 td-right-nav">
      <h3>The goodreads blog</h3>
      <p>4 Great New Book</p>
      <div class="col-sm-12 height-100">
        <div class="col-sm-7">
          <div class="row">
            <% if @book_challenge.second.image %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag @book_challenge.first.image,
                  class: "img-responsive" %>
              <% end %>
            <% else %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag "book.jpg", class: "img-responsive" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="row">
            <% if @book_challenge.third.image %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag @book_challenge.first.image,
                  class: "img-responsive" %>
              <% end %>
            <% else %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag "book.jpg", class: "img-responsive" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 height-100">
        <div class="col-sm-5">
          <div class="row">
            <% if @book_challenge.fourth.image %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag @book_challenge.first.image,
                  class: "img-responsive" %>
              <% end %>
            <% else %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag "book.jpg", class: "img-responsive" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <% if @book_challenge.fifth.image %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag @book_challenge.first.image,
                  class: "img-responsive" %>
              <% end %>
            <% else %>
              <%= link_to book_path(@book_challenge.first) do %>
                <%= image_tag "book.jpg", class: "img-responsive" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <hr>
      <div class="col-sm-12 td-home-footer">
        <div class="col-sm-6">
          <ul class="row">
            <li><%= link_to "About Us", "#" %></li>
            <li><%= link_to "Authors", "#" %></li>
            <li><%= link_to "Our Blog", "#" %></li>
            <li class="td-mobile"><%= link_to "Mobile Version", "#" %></li>
            <li class="td-copyright"><%= link_to "© 2017 Goodreads", "#" %></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul>
            <li><%= link_to "Advertise", "#" %></li>
            <li><%= link_to "Terms", "#" %></li>
            <li><%= link_to "Privacy", "#" %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% unless user_signed_in? %>
  <div class="row td-css-box">
    <div id="wrapper" class="td-home-box">
      <section id="sidebar" class="col-sm-4 td-sidebar">
        <section>
          <div class="mini-posts">
            <% @book_randoms.each do |book| %>
              <article class="mini-post">
                <header>
                  <h3><a href="<%= new_user_session_path %>"
                    title="<%= book.title %>"><%= book.title %></a></h3>
                  <time class="published">
                    <%= l book.created_at, format: :short %>
                    <span>
                      <%= t "author" %>:
                      <%= book.author %>
                    </span>
                  </time>
                  <div class="book-rating">
                    <%= render "books/book_rating", book: book %>
                  </div>
                </header>
                <a href="<%= new_user_session_path %>" class="image">
                  <%= image_tag book.image %>
                </a>
              </article>
            <% end %>
          </div>
        </section>

        <section class="blurb">
          <h2>About</h2>
          <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
          <ul class="actions">
            <li><a href="<%= new_user_session_path %>" class="button">Learn More</a></li>
          </ul>
        </section>

        <section id="footer">
          <ul class="icons">
            <li><a href="<%= new_user_session_path %>" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
        </section>
      </section>

      <div class="td-home col-sm-8">
        <% @review_randoms.each do |review| %>
          <article class="post">
            <header>
              <div class="title col-sm-8">
                <h2>
                  <a href="<%= new_user_session_path %>" title="<%= review.book.title %>">
                    <%= review.book.title %>
                  </a>
                </h2>
                <p title="<%= review.book.description %>">
                  <%= review.book.description %>
                </p>
              </div>
              <div class="meta col-sm-4">
                <time class="published" datetime="2015-11-01">
                  <%= l review.created_at, format: :short %>
                </time>
                <a href="<%= new_user_session_path %>" class="author">
                  <span><%= review.user.name %></span>
                  <% if review.user.avatar %>
                    <%= image_tag review.user.avatar %>
                  <% else %>
                    <%= image_tag "images.jpg" %>
                  <% end %>
                </a>
              </div>
              <div class="clearfix"></div>
            </header>
            <a href="<%= new_user_session_path %>" class="image featured td-review-book-image img-responsive">
              <%= image_tag review.book.image %>
            </a>
            <p>
              <%= review.content %>
            </p>
          </article>
        <% end %>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
<% end %>
