<% provide :title, t("home") %>
<div class="home-page">
  <% if user_signed_in? %>
    <h1><%= I18n.t "home_pages.goodread_blog" %></h1>
    <div class="col-md-3">
      <h3 class="col-md-offset-2"><%= I18n.t "home_pages.categories" %></h3>
      <div class="categories">
        <ul class="group-categories">
          <% @categories.each do |category| %>
            <li class="category-item">
              <%= category.name %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="follow-us">
        <h4 class="col-md-offset-2"><%= I18n.t "home_pages.follow_us" %></h3>
        <ul>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <%= I18n.t "home_pages.fb" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-twitch" aria-hidden="true"></i>
              <%= I18n.t "home_pages.twitter" %>
            <% end %></li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-google-plus-square" aria-hidden="true"></i>
              <%= I18n.t "home_pages.google" %>
            <% end %>
          </li>

          <li>
            <%= link_to "#" do %>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <%= I18n.t "home_pages.zalo" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-9 books">
      <% @books.each do |book| %>
        <div class="col-md-4 book">
          <%= book_image book %>
          <div class="title">
            <%= link_to book.title, book_path(book)%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<% unless user_signed_in? %>
  <div class="row td-css-box">
    <div id="wrapper" class="td-home-box">
      <section id="sidebar" class="col-sm-4 td-sidebar">
        <section>
          <div class="mini-posts">
            <% @book_randoms.each do |book| %>
              <article class="mini-post">
                <header>
                  <h3><a href="<%= new_user_session_path %>"
                    title="<%= book.title %>"><%= book.title %></a></h3>
                  <time class="published">
                    <%= l book.created_at, format: :short %>
                    <span>
                      <%= t "author" %>:
                      <%= book.author %>
                    </span>
                  </time>
                  <div class="book-rating">
                    <%= render "books/book_rating", book: book %>
                  </div>
                </header>
                <a href="<%= new_user_session_path %>" class="image">
                  <%= image_tag book.image %>
                </a>
              </article>
            <% end %>
          </div>
        </section>

        <section class="blurb">
          <h2>About</h2>
          <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
          <ul class="actions">
            <li><a href="<%= new_user_session_path %>" class="button">Learn More</a></li>
          </ul>
        </section>

        <section id="footer">
          <ul class="icons">
            <li><a href="<%= new_user_session_path %>" class="fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="<%= new_user_session_path %>" class="fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
        </section>
      </section>

      <div class="td-home col-sm-8">
        <% @review_randoms.each do |review| %>
          <article class="post">
            <header>
              <div class="title col-sm-8">
                <h2>
                  <a href="<%= new_user_session_path %>" title="<%= review.book.title %>">
                    <%= review.book.title %>
                  </a>
                </h2>
                <p title="<%= review.book.description %>">
                  <%= review.book.description %>
                </p>
              </div>
              <div class="meta col-sm-4">
                <time class="published" datetime="2015-11-01">
                  <%= l review.created_at, format: :short %>
                </time>
                <a href="<%= new_user_session_path %>" class="author">
                  <span><%= review.user.name %></span>
                  <% if review.user.avatar %>
                    <%= image_tag review.user.avatar %>
                  <% else %>
                    <%= image_tag "images.jpg" %>
                  <% end %>
                </a>
              </div>
              <div class="clearfix"></div>
            </header>
            <a href="<%= new_user_session_path %>" class="image featured td-review-book-image img-responsive">
              <%= image_tag review.book.image %>
            </a>
            <p>
              <%= review.content %>
            </p>
          </article>
        <% end %>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
<% end %>
