<div class="field clearfix">
  <div class="col-sm-2 columns">
    <%= f.attribute_fields do |a| %>
      <%= a.attribute_select associations: :category, class: "radius" %>
    <% end %>
  </div>
  <div class="col-sm-2 columnsk none">
    <%= f.predicate_select Hash.new, class: "radius" %>
  </div>
  <div class="col-sm-8 columns">
    <%= f.value_fields do |v| %>
      <%= v.text_field :value, class: "radius form-control",
        placeholder: "Search" %>
    <% end %>
  </div>

  <div class="actions inline-block">
    <%= button_tag type: "submit", class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-search"></i><%= t "buttons.search" %>
    <% end %>
  </div>
</div>
