<%= form_for [@book, @rating], remote: true do |f| %>
  <% if f.object.new_record? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :book_id, value: @book.id %>
  <% end %>

  <%= f.hidden_field :rating, value: @rating.rating %>
  <div class="col-md-12">
    <div class="form-group">
      <span class="rating-stars">
        <i class="fa fa-remove rating-star submit star-0" data-index="0"></i>
        <% 1.upto 5 do |index| %>
          <i class="fa fa-star rating-star submit star-<%= index %>
            <%= index <= @rating.rating ? 'rate' : '' %>"
            data-index="<%= index %>"></i>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
