<div class="td-book-index">
  <%= search_form_for @search do |f| %>
    <%= f.condition_fields do |condition| %>
      <%= render "condition_fields", f: condition %>
    <% end %>
  <% end %>
  <div class="clear"></div>
  <div id="main">
    <div class="inner">
      <section class="tiles">
        <% @books.each do |book| %>
          <article>
            <%= link_to book_path(book) do %>
              <span class="image">
                <% if book.image %>
                  <%= image_tag book.image %>
                <% else %>
                  <%= image_tag "book.jpg" %>
                <% end %>
              </span>
              <div class="td-book-infor">
                <h3><%= book.title %></h3>
                <span><%= book.author %></span>
              </div>
            <% end %>
          </article>
        <% end %>
        <div class="td-wrap-pagination" style="text-align: center; width: 100%;
          padding: 30px 0;">
          <%= paginate @books %>
        </div>
      </section>
    </div>
  </div>
</div>
