<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |condition| %>
    <%= render "condition_fields", f: condition %>
  <% end %>
  <br>
  <p><%= link_to_add_fields t("buttons.add_condition"), f, :condition %></p>
  <div class="fields">
    <%= t "sort" %>
    <div class="column">
      <%= f.sort_fields do |sort_field| %>
        <%= sort_field.sort_select Hash.new,
          class: "large-5 small-4 columns mrs radius" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= button_tag type: "submit", class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-search"></i><%= t "buttons.search" %>
    <% end %>
  </div>
<% end %>
<br>
<table id="book" class="table table-hover table-bordered text-center">
  <tbody>
    <tr>
      <th class="text-center success">
        <%= sort_link @search, :title, t("books.headers.title") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :author, t("books.headers.author") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :number_of_pages, t("books.headers.number_of_pages") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :publish_date, t("books.headers.publish_date") %>
      </th>
      <th class="text-center success">
        <%= sort_link @search, :category, t("categories.headers.name") %>
      </th>
    </tr>
    <%= render @books %>
  </tbody>
</table>
<div class="clear"></div>
