<% provide :title, @book.title %>

<div class="row">
  <div class="col-md-4">
    <%= book_image_show @book %>
  </div>
  <div class="col-md-8">
    <h3><b><%= @book.title %></b></h3>
    <i><%= t "book.by" %></i> <%= @book.author %><br>
    <div class="col-md-12">
      <div class="book-description">
        <%= @book.description %>
      </div>
    </div>
    <div class="col-md-12">
      <b><%= t "book.publish_date" %></b><%= l @book.publish_date %></br>
      <b><%= t "book.pages" %></b><%= @book.number_of_pages %>
    </div>
  </div>
</div>

<p class="review-title">
  <%= render "books/review" %>
</p>

<div class="reviews">
  <ul>
    <% @reviews.each do |review| %>
      <li id="review-<%= review.id %>">
        <div class="col-md-10">
          <%= link_to review.user.name, review.user %>
          <%= t "user.reviews.rate_it", rate: review.rating %>
        </div>
        <div class="col-md-2">
          <% if current_user.current_user? review.user %>
            <%= link_to t("edit"), edit_review_path(review) %>
            <%= t "divide" %>
            <%= link_to t("delete"), review, method: :delete,
              data: {confirm: t("confirm")}, remote: true %>
          <% end %>
        </div>
        <div class="col-md-12">
          <%= review.content %>
          <span class="timestamp">
            <%= t "posted_ago", time: time_ago_in_words(review.created_at) %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>
