<div class="td-categories-show row" data-id="<%= @category.id %>">
  <div class="col-sm-3">
    <div class="row">
      <%= image_tag "book_award.png", class: "image-book-award" %>
      <div class="clearfix"></div>
      <ul class="td-list-categories text-right">
        <% @categories.each do |category| %>
          <li class="category-<%= category.id %>">
            <p><%= category.name %></p>
            <p class="view-result">
              View result <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-7 td-show-category-content">
    <div class="td-best-book">
      <h1 class="text-left">Best <%= @category.name %>'s book</h1>
      <div class="gcaDivider">
        <div class="gcaDivider__centerpiece"></div>
      </div>
      <div class="show-best-book">
        <div class="col-sm-3">
          <%= link_to book_path(@best_book) do %>
            <%= image_tag image_book(@best_book), class: "img-responsive img-book" %>
          <% end %>
        </div>
        <div class="col-sm-6">
          <div class="book-title">
            <p>
              <%= render "books/book_rating", book: @best_book %>
            </p>
            <%= link_to book_path @best_book do %>
              <h3><%= @best_book.title %></h3>
            <% end %>
            <p class="best-book-author"><%= t "books.by_author" %><span>
              <%= @best_book.author %></span></p>
          </div>
          <div class="book-description">
            <p>
              <% if strip_tags(@best_book.description).length > 300 %>
                <div class="description-less">
                  <%= truncate strip_tags(@best_book.description), length: 300 %>
                  <%= link_to t("books.more"), "#", class: "show-more", remote: true %>
                </div>
                <div class="description-full hidden">
                  <%= @best_book.description.html_safe %>
                  <%= link_to t("books.less"), "#", class: "show-less", remote: true %>
                </div>
              <% else %>
                <div class="description-full">
                  <%= @best_book.description.html_safe %>
                </div>
              <% end %>
            </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="book-status-<%= @user_book.book_id %>">
            <%= render "user_books/change_statuses", user_book: @user_book %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="gcaSideFlourish gcaSideFlourish--left"></div>
      <div class="gcaSideFlourish gcaSideFlourish--right"></div>
    </div>
    <div class="book">
      <h2 class="td-list-book-title text-left">
        <span>
          <%= t "categories.actions.all_book", name: @category.name %>
        </span> •
        <%= pluralize @books.size, t("categories.actions.book") %>
      </h2>
      <% @books.each do |book| %>
        <div class="col-sm-3 book-show-category">
          <% rating = round_rating book.ratings.plus.average(:rating) %>
          <p class="book-rate">
            <%= pluralize book.ratings.plus.count, t("books.rating") %>
          </p>
          <div class="book-image">
            <%= link_to book_path(book) do %>
              <%= image_tag image_book(book), class: "img-responsive img-book" %>
            <% end %>
          </div>
          <div class="book-status-<%= book.id %>">
            <%= render "user_books/change_statuses", user_book: mark_book(book) %>
          </div>
          <div class="book-rating text-center">
            <% 1.upto 5 do |index| %>
              <%
                star =
                  if index <= rating
                    "fa-star"
                  elsif index - 0.5 == rating
                    "fa-star-half-o"
                  else
                    "fa-star-o"
                  end
              %>

              <i class="fa <%= star %> rate"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
