<%= provide :title, @book.title %>
<div class="container">
  <div class="col-md-12">
    <div class="col-md-4">
      <%= book_image_show @book %>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <div class="col-md-8"><h3><%= @book.title %></h3></div>
        <div class="listButton">
          <%= link_to t("edit"), edit_admins_book_path(@book),
            class: "col-md-1 btn btn-success" %>
        </div>
        <div class="col-md-2 listButton">
          <%= link_to t("delete"), admins_book_path(@book),
            method: :delete, data: {confirm: t("confirm")}, class: "btn btn-danger"%>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <div><h4><%= @book.author %></h4></div>
          <div><h5><%= t "book.category" %><%= @book.category.name %></h5></div>
          <div><h5><%= t "book.description" %><%= @book.description %></h5></div>
          <div><h5><%= t "book.pages" %><%= @book.number_of_pages %></h5></div>
          <div>
            <h5><%= t "book.publish_date" %>
            <%= publish_date @book %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
