<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("title_page"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path, id: "head" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t("category"), admins_categories_path, id: "head" %></li>
          <% end %>
          <li><%= link_to t("logout"), logout_path, id: "head", method: :delete %></li>
        <% else %>
          <li><%= link_to t("login"), login_path, id: "head" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
